<div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        热门文章
      </div>

 <ul class="list-unstyled">
 
	<li><a href="/timeMagician/blog/2014/07/qualified-programmer-should-read-what-books.html" class="categories-list-item">利用Github-pages建立个人博客</a></li>	
	
	<li><a href="/timeMagician/blog/2014/07/qualified-programmer-should-read-what-books.html" class="categories-list-item">一个合格的程序员应该读过哪些书</a></li>
	
	<li><a href="/timeMagician/blog/2015/05/android-links.html" class="categories-list-item">安卓开发者必备的42个链接</a></li>
	<li><a href="/timeMagician/blog/2014/10/android-opensource.html" class="categories-list-item">值得推荐的android开源框架</a></li>	 
	 
 </ul>
 
</div>
