          <ul class="nav navbar-nav">
            <li>
              <a href="/timeMagician/categories.html">
                分 类
              </a>
            </li>
            <li>
              <a href="/timeMagician/tags.html">
                标 签
              </a>
            </li>
            <li>
              <a href="/timeMagician/archives.html">
                归 档
              </a>
            </li>
            <li>
              <a href="/timeMagician/faqs.html">
                备 忘
              </a>
            </li>
            <li>
              <a href="/timeMagician/about.html">
                关 于
              </a>
            </li>
          </ul>